<h1 class="sub-header">All Posts</h1>
<a ui-sref="newpost" class="btn btn-success">Add New Post</a>
<div class="table-responsive" ng-controller="PostCtrl as vm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Title</th>
                <th>Body</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="post in vm.posts">
                <td>{{ post.id }}</td>
                <td><a href="#/posts/{{ post.id }}">{{ post.title }}</a></td>
                <td>{{ post.body }}</td>
                <td>
                    <a href="#/posts/{{ post.id}}/edit" class="btn btn-primary btn-sm">Edit</a>
                    <button ng-click="vm.deletePost(post)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
